
<%- include('layout/header.ejs')  %> 

    <%- include('layout/modal.ejs')  %> 



    <%- include('layout/banner.ejs')  %> 



    <!-- Start Products -->
    <section class="bg-light">
        <div class="container py-5">
            <div class="row text-center py-3">
                <div class="col-lg-6 m-auto">
                    <h1 class="h1"> Products </h1>
                    <p>
                        Reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                        Excepteur sint occaecat cupidatat non proident.
                    </p>
                </div>
            </div>
            <div class="row">
                <% products.forEach(product => { %>
                    <div class="col-12 col-md-3 mb-4">
                        <div class="card h-100">
                            <a href="/shop-single/<%= product.id %> ">
                                <img src="/images/sampleImage.png" class="card-img-top" alt="..not..found..">
                            </a>
                            <div class="card-body">
                                <ul class="list-unstyled d-flex justify-content-between">
                                    <li>
                                        Price : 
                                    </li>
                                    <li class="text-right">$<%= product.price %> </li>
                                </ul>
                                <a href="/shop-single/<%= product.id %>" class="h2 text-decoration-none text-dark"><%= product.name %> </a>
                                <p class="card-text">
                                    <%= product.about.substr(0,30) + '...' %> 
                                </p>
                                <p class="text-secondary"> Category : 
                                <a href="/category/<%= product.category.id %> ">
                                    <%= product.category.name %>
                                </a>
                             </p>
                            </div>
                        </div>
                    </div>
                <% }) %>
            </div>
            <div class="row d-flex align-items-center">
                <div class="col-2"></div>
                <div class="col-8">
                    <% for( let i = 0; i < productCount/10; i++ ) { %>
                        <a class="btn btn-outline-primary" href="?page=<%= i %> "><%= i+1 %> </a>
                    <% } %>
                </div>
                <div class="col-2"></div>
            </div>
        </div>
    </section>
    <!-- End Products -->


<%- include('layout/footer.ejs')  %> 